<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <style>
    .note-group-select-from-files {
      display: none;
    }
  </style>
</head>

<body 
style="background-image: url('https://th.bing.com/th/id/R.f1080717f431bb18552732a20fed3737?rik=hmvB5%2fAbpMjkdg&riu=http%3a%2f%2fi.stack.imgur.com%2f9WYxT.png&ehk=aiZls7qp%2boTGYFgL%2bju%2bZ7kCFKPqoeFlI3lLXY%2btGKs%3d&risl=&pid=ImgRaw&r=0');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;"
>
  <div style="text-align:center;">
    <h1 style="color:white; z-index:1;text-shadow: 2px 2px 4px #000000;">
    Write a Blog</h1>
    <input type="text" id="title" name="title" required>
    <div style="
    background-image: url('https://th.bing.com/th/id/R.580e66e3fb7512b0301a77e3cf4afaeb?rik=6XIlZKGvh42UCA&riu=http%3a%2f%2fstarbeamrainbowlabs.com%2fblog%2fimages%2f042-symphony.png&ehk=Znh7JkqkO%2bQI1Za5NwZ1CW7HbMNqJqAoBLwLSXNyOVM%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;"
    ><p>Click on the "Choose File" button to upload the thumbnail of your blog:</p>
      <br><p>(OPTIONAL)</p>
      <form style="text-align:center">
        <input type="file" id="myFile" name="filename" style="margin:auto;">
        <input type="submit">
      </form>

    </div>
    
    <textarea name="editor" id="editor" required>
      
  </textarea>
    <button id="ads">Add your Ad-script</button>
    <div id="ads-textarea" style="display:none;"><textarea placeholder="to be worked on"></textarea></div><br>
    <button id="save">Save as draft</button>
    <button id="post">Post</button>
  </div>
  <script>
    let user_mentions=[]
    let user_id=[]
    $.ajax({
      url:"/sending-user-for-mention",
      method:"GET",
      
      success:function(res){
        res.forEach(user=>{
          user_id.push(user._id)
          user_mentions.push(user.username)
        })
        $('#editor').summernote({
      height: 800,
      toolbar: [
        ['misc', ['undo', 'redo']],
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough', 'superscript', 'subscript']],
        ['insert', ['link', 'video', 'table', 'picture']],

        ['para', ['ul', 'ol', 'paragraph']],

      ],
      hint: {
    mentions: user_mentions,
    match: /\B@(\w*)$/,
    search: function (keyword, callback) {
      callback($.grep(this.mentions, function (item) {
        return item.indexOf(keyword) == 0;
      }));
    },
    content: function (item) {
      let index = user_mentions.indexOf(item)
      let anchor = document.createElement("a")
      anchor.innerHTML = '@'+item
      anchor.href="/profile/"+user_id[index]
      return anchor;
    }    
  }
    });
      }
    })
    
  
  
    $("#ads").on("click", () => {
      $("#ads-textarea").toggle()
    })
    $("#save").on("click", () => {
      let blog = $("#editor").val()
      let title = $("#title").val()
      $.ajax({
        url: "/save-as-draft",
        method: "POST",
        data: { blog: blog, title: title },
        success: function (req) {
          window.location.href = "your-pokis"
        }

      })
    })
    $("#post").on("click", () => {
      let blog = $("#editor").val()
      let title = $("#title").val()
      $.ajax({
        url: "/post-blog",
        method: "POST",
        data: { blog: blog, title: title },
        success: function (req) {
          window.location.href = "profile"
        }

      })
    })
  
  </script>

</body>

</html>