<!DOCTYPE html>

<%- include('include/start.ejs')%>
<%- include('include/nav1.ejs')%>

</head>
<body>
  

 <input type="text" name="r" id="r" placeholder="Enter receiver's name" onkeyup="search()">
 <div id="search"></div>
 <button onclick="create_new_chat()">+new chat</button>
 <br><br>
 <div id="users" style="width: 40%; margin-left: 0;">
</div>
<label for="counter"></label>
<div  class="send_div" style="width:60%; right: 0px; position: absolute;" >
<strong><label for="receiver"  style="bottom: 0px;">receiver</label></strong>
<div id="chat"></div>
<input type="text" name="input msg" style="margin-bottom: 0;">
<button class="send" onclick="on_post(this)" style="margin-bottom:0 ;">
  Send</button>
</div>
<%- include('include/end.ejs')%>