<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1 class="profile_profile-user-name"><%=userprofile.username%></h1>
    <%if(userprofile != "nothing"){%>
        
        <input name="uid" type="text" value="<%= userprofile._id %>">
        <%if (me[0].following.includes(userprofile._id)){%>
        <button id="follow">Following</button>
        <%}else{%>
            <button id="follow">Follow</button>
        <%}%>
    <%blog.forEach(blog=>{%>
        <a href="demoblog/<%= blog._id %>"><%= blog.title %></a>
    <%})%>
        <%}%>
<script>
    let btn = document.getElementById("follow")
    btn.addEventListener("click",()=>{
        if(btn.innerHTML == "Follow"){
        $.ajax({
            url:"/follow",
            method:"POST",
            data:{uid:$("input[name='uid']").val()},
            success:function(res){
               btn.innerHTML="Following"
            }
        })
    }
    else{
        $.ajax({
            url:"/unfollow",
            method:"POST",
            data:{uid:$("input[name='uid']").val()},
            success:function(res){
               btn.innerHTML="Follow"
            }
        })
    }
    })
    
</script>
</body>
</html>