
<%- include('include/start.ejs')%>
<%- include('include/nav1.ejs')%>

<div style="background-color: white; margin-top:20px;margin-left:40px;margin-right:25px;padding:10px;">
    <form style="width: 100%;">
        <div style="padding: 0.25%;display:block">
            <label style="padding-left:5%;margin-right:auto;display:block">Lorem ipsum dolor sit amet, consectet</label>
            <select name="dropdown" style="padding-right:5%;margin-left:auto;display:block"><option value="1" selected>A</option><option value="2">B</option></select>
        </div>
        <div style="padding: 0.25%;">
            <label style="padding-left:5%">Lorem ipsum dolor sit amet, consectet</label>
            <select name="dropdown" style="padding-right:5%;margin-right:5%;"><option value="1" selected>A</option><option value="2">B</option></select>
        </div>
        <div style="padding: 0.25%;">
            <label style="padding-left:5%">Lorem ipsum dolor sit amet, consectet</label>
            <select name="dropdown" style="padding-right:5%;margin-right:5%;"><option value="1" selected>A</option><option value="2">B</option></select>
        </div>
        
        
        
        
        
        

        
        
    </form>
</div>

<%- include('include/end.ejs')%>