
<%- include('include/start.ejs')%>
<%- include('include/nav1.ejs')%>

<!-- <h1 style="text-align:center">Home</h1> -->
<div style="width:100%;background-size: cover;padding:0;margin:0;">
    <%- include('include/slideshow.ejs') %>
</div>

<section id="home-blogs" style="background-image:url("../../wave.svg");">
    <% for(let i = 0; i < 10; i++){ %>
    <div class="blog-container" style="background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 1.0)),url(https://i.pinimg.com/originals/26/ea/fc/26eafc0b14488fea03fa8fa9751203ff.jpg);">
        <a href="#"><span id="blog-link"></span>
        <div class="blog-text">
            <h1 style="text-decoration: none;color:black;font-weight:900;font-size:30px;">Paris is one of the most beautiful cities in France.</h1>
            <p style="opacity: 0.8; color:rgba(54, 50, 50, 0.898);">
                This is really Lorem ipsum dolor sit amet, consect.This is really Lorem ipsum dolor sit amet, consect.
                This is really Lorem ipsum dolor sit amet, consect.This is really Lorem ipsum dolor sit amet, consect.
                This is really Lorem ipsum dolor sit amet, consect.This is really Lorem ipsum dolor sit amet, consect.        
            </p>
        </div>
        <div style="color:rgb(190, 190, 190);position:absolute;bottom:25px;width:95%;">
            <p style="display:inline;">
                3 weeks ago by <a href="#">dragslayer 999</a></p>
            <p style="display:inline;">
                <span style="float:right;font-size: 12px;position:absolute;right:15px">
                <i class="tiny material-icons" style="vertical-align: middle;">visibility</i>
                68 &emsp;
                </span>
            </p>
        </div>
        </a>
    </div>
    <% } %>
</section>
<div class="pagination-home-page" style="text-align: center;">
    <ul>
        <a href="#!"><i class="material-icons icons-middle-align">chevron_left</i></a>
        <a href="#!" class="pagination-page-active">1</a>
        <a href="#!">2</a>
        <a href="#!">3</a>
        <a href="#!">4</a>
        <a href="#!">5</a>
        <a href="#!"><i class="material-icons icons-middle-align">chevron_right</i></a>
    </ul>
<%- include('include/end.ejs')%>