<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <title>Document</title>
</head>
<body style="height:100%; width:100%;overflow:hidden;">
<div id="chat-page">
  <div id="chat-contacts">
    <input type="text" name="r" id="r" placeholder="Enter receiver's name" onkeyup="search2()"><!--
    --><button onclick="create_new_chat2()" style="display:inline-block;margin-left:0;margin-right:10px;border-radius:0 10px 10px 0;padding:3px;width:74px;">+new chat</button>
    <div id="receiver_search"></div>
    <hr style="margin:0;padding:0;">
    <div id="users" style="width: 100%;color:white;">
    </div>
  </div>

  <div  class="send_div" style="border-left:2px solid grey;background-color:aliceblue;height:90%;width:75%;right: 0px; position: absolute; bottom:0;" >
    <div id="receiver-name" >
      <!-- class="hidden" -->
      <strong><label for="receiver" style="bottom: 0px;">receiver</label></strong>
      <button class="delete" onclick="delete_chat2(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      <!-- <hr style="position:absolute;bottom:-20px;"> -->
    </div>
    <div id="chat" style="width:100%;">
      <div style="background-color:rgb(139, 139, 139,0.2);width:auto;margin:calc(25% - 75px) auto auto auto;padding:4px 10px;border-radius:20px;font-size:small;">Select a chat to start messaging!</div>
    </div>
    <div id="send-message">
     <!-- class="hidden"> -->
      <input type="text" name="input msg" placeholder="Type a message...">
      <button class="send" onclick="on_post2(this)" style="border-radius:50%;height:35px;width:35px;" >
        <span class="material-icons">
          send
        </span>
      </button>
    </div>
  </div>
</div>
<input type="hidden" name="sender" value="<%= name %>">
<script src="js/messages.js"></script>
