<%- include('include/start.ejs')%>
    <%- include('include/nav1.ejs')%>

        <h1 id="blog-title" style="text-align:center;margin-top:5%">
            Welcome to the Dashboard!
        </h1>
        <section style="text-align:center;margin-top:5%">
            <div style="height:300px;width:1000px;background-color:white;margin:auto">
                Summary Statistics<br>
                Views<br>
                Comments<br>
                Shares<br>
                Total Likes<br>
                Total Followers<br>
                Average likes/dislikes ratio<br><br><br><br><br><br><br><br><br><br>
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! <b>We need to add charts here</b>
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

            </div>

        </section>
        <section>
            <h1 id="blog-title" style="text-align:center;margin-top:5%">
                Your Blogs
            </h1>
            <div class="dashboard_home_card-container">

                <div class="dashboard_home_card">
                    <img src="https://donkeytime.org/img/ben-10-comic-book-free-download-3.jpg" />
                    <div class="dashboard_home_content">
                        <h3>What a cute animal!</h3>
                        <p>Nanotechnology immersion along the information highway will close the loop on focusing solely
                            on the bottom line.</p>
                        <p>Views:</p>
                        <span>Likes:</span>
                        <button style="float:right">Take action</button>
                    </div>
                </div>

                <div class="dashboard_home_card">
                    <img src="https://donkeytime.org/img/ben-10-comic-book-free-download-3.jpg" />
                    <div class="dashboard_home_content">
                        <h3>Architecture is wonderful.</h3>
                        <p>Override the digital divide with additional clickthroughs from DevOps.</p>
                    </div>
                </div>

                <div class="dashboard_home_card">
                    <img src="https://donkeytime.org/img/ben-10-comic-book-free-download-3.jpg" />
                    <div class="dashboard_home_content">
                        <h3>Be one with mother nature.</h3>
                        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</p>
                    </div>
                </div>

                <div class="dashboard_home_card">
                    <img src="https://donkeytime.org/img/ben-10-comic-book-free-download-3.jpg" />
                    <div class="dashboard_home_content">
                        <h3>There's billions of people, let's be excellent to them.</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                    </div>
                </div>

                <div class="dashboard_home_card">
                    <img src="https://donkeytime.org/img/ben-10-comic-book-free-download-3.jpg" />
                    <div class="dashboard_home_content">
                        <h3>Technology is life...</h3>
                        <p>Organically grow the holistic world view of disruptive innovation via workplace diversity and
                            empowerment.</p>
                    </div>
                </div>

                <div class="dashboard_home_card">
                    <img src="https://donkeytime.org/img/ben-10-comic-book-free-download-3.jpg" />
                    <div class="dashboard_home_content">
                        <h3>Do you feel lucky?</h3>
                        <p>Iterative approaches to corporate strategy foster collaborative thinking to further the
                            overall value proposition.</p>
                    </div>
                </div>

            </div>
        </section>

        <%- include('include/end.ejs')%>