
<%- include('include/start.ejs')%>
<%- include('include/nav1.ejs')%>
<a href="your-pokis-created">If created one, click here</a>
<h1 id="blog-title" style="text-align:center;margin-top:5%">
    You have not created any blogs. Create one now!
</h1>
<div style="text-align:center;margin-top:4%">
<a href="create-blog">
<img src="https://i.pinimg.com/originals/44/7c/2f/447c2fd6d287676e79901b5b19d82c66.jpg"
    width=25% style="margin:auto"
    >
</a>
</div>

<%- include('include/end.ejs')%>