</div>
<footer style="padding:40px;padding-top:60px;margin:100px 0 0 0;max-width:100%;color:rgb(255,255,255,0.9);background-color:rgba(0, 0, 0, 0.8);min-height:300px;">
    <div style="width:100%;min-height:200px; display:flex; justify-content: center;">
        <div style="margin-right:20px;width:31%;text-align: justify;">
            <h4 style="margin:0;font-size:22px;text-align:left;">Learn More</h4>
            <p>Beyond the Blog is a platform for everyone to voice their thoughts. It aims to create a sense of community that goes beyond the written word.</p>
        </div>
        <div style="margin-right:20px;width:31%;text-align: justify;">
            <h4 style="margin:0;font-size:22px;text-align:left;">Find your interests</h4>
            <p>Follow writers you admire and topics that you care about to see more about them on your homepage.</p>
        
        </div>
        <div style="width:31%;text-align: justify;">
            <h4 style="margin:0;font-size:22px;text-align:left;">Contribute</h4>
            <p>Do you have an anecdote, an opinion, or knowledge you'd like to share? This is the place for you. You can share your writings here, free of cost.</p>
        
        </div>
    </div>
    <hr style="color:rgb(255,255,255,0.9)">
    <div style="padding-top:15px;">
        <ul style="float:right;list-style: none;">
            <li style="display:inline;">About | </li>
            <li style="display:inline;">Contact Us | </li>
            <li style="display:inline;">Help | </li>
            <li style="display:inline;">Legal</li>
        </ul>
        <p style="font-size:40px;display:inline; margin:0;padding:0;">Beyond the Blog</p>
       
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://briancherne.github.io/jquery-hoverIntent/jquery.hoverIntent.js"></script>
<script src="js/nav.js"></script>
<script src="js/slider.js"></script>
</body>
</html>