</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://briancherne.github.io/jquery-hoverIntent/jquery.hoverIntent.js"></script>
<script src="js/nav.js"></script>
<script src="js/slider.js"></script>
</body>
</html>