<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/slider.css">
<link rel="stylesheet" href="css/other.css">
<link rel="stylesheet" href="css/blog-container-showing-on-homepage.css">
<link rel="stylesheet" href="css/slideshow-trial.css">
<link rel="stylesheet" href="css/blog-display.css">
<link rel="stylesheet" href="css/comments_with_replies.css">
<script src="https://kit.fontawesome.com/5a48f712d9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/dashboard_home.css">
<link rel="stylesheet" href="css/profile-page.css">
<link rel="stylesheet" href="css/footer1.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="vertical-nav narrow hover" style="position:fixed;">
    <div class="branding">
        <div class="symbol">
            <a href="/">
            <svg width="37px" height="36px" viewBox="0 0 37 36" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.4 (15575) - http://www.bohemiancoding.com/sketch -->
                <title>logo-symbol</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <path
                        d="M16.7346999,7.63307013 C22.0839115,7.96577992 26.363813,12.2451647 26.696563,17.5937304 C26.7102944,17.6931753 26.7173907,17.7947386 26.7173907,17.8979592 C26.7173907,19.1152399 25.7304706,20.1020408 24.5130429,20.1020408 C23.2956153,20.1020408 22.3086952,19.1152399 22.3086952,17.8979592 C22.3086951,14.7723643 19.8686539,12.2166029 16.7892953,12.0311813 L16.7864698,11.991808 C16.6705741,12.010626 16.5516468,12.0204082 16.4304344,12.0204082 C15.2130068,12.0204082 14.2260867,11.0336072 14.2260867,9.81632653 C14.2260867,8.59904586 15.2130068,7.6122449 16.4304344,7.6122449 C16.5336674,7.6122449 16.635243,7.61934035 16.7346999,7.63307013 Z M32.2517165,14.9716085 C32.4770845,16.0339753 32.5956515,17.135796 32.5956515,18.2653061 C32.5956515,26.9891509 25.522724,34.0612245 16.7978257,34.0612245 C8.0729275,34.0612245 1,26.9891509 1,18.2653061 C1,9.5414613 8.0729275,2.46938776 16.7978257,2.46938776 C18.3510773,2.46938776 19.851973,2.69352272 21.269927,3.11121052 C22.7067607,1.79980545 24.6186621,1 26.7173907,1 C31.1812921,1 34.7999992,4.61827019 34.7999992,9.08163265 C34.7999992,11.4039463 33.8203494,13.497478 32.2517165,14.9716085 Z M16.7978257,31.122449 C23.8994871,31.122449 29.6565211,25.36611 29.6565211,18.2653061 C29.6565211,11.1645022 23.8994871,5.40816327 16.7978257,5.40816327 C9.69616438,5.40816327 3.93913037,11.1645022 3.93913037,18.2653061 C3.93913037,25.36611 9.69616438,31.122449 16.7978257,31.122449 Z"
                        id="path-1"></path>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="logo-symbol" sketch:type="MSArtboardGroup">
                        <g>
                            <use fill="#F5A623" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-1">
                            </use>
                            <use fill="none" xlink:href="#path-1"></use>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="text">
                <a href="/">
                    <svg width="90px" height="15px" viewBox="0 0 90 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.4 (15575) - http://www.bohemiancoding.com/sketch -->
                        <title>logo-text</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            sketch:type="MSPage">
                            <g id="logo-text" sketch:type="MSArtboardGroup" fill="#FFFFFF">
                                <path
                                    d="M0,13.36 C0,14.34 0.64,15 1.64,15 C2.64,15 3.28,14.34 3.28,13.36 L3.28,9.46 L6.92,9.46 C10.1,9.46 11.92,7.52 11.92,4.9 C11.92,1.7 9.7,0.34 6.94,0.34 L1.92,0.34 C0.76,0.34 0,0.8 0,2.26 L0,13.36 Z M3.28,2.86 L6,2.86 C7.62,2.86 8.64,3.46 8.64,4.9 C8.64,6.14 7.66,6.94 6.34,6.94 L3.28,6.94 L3.28,2.86 Z M13.88,13.54 C13.88,14.32 14.2,15 15.34,15 C16.48,15 16.8,14.32 16.8,13.54 L16.8,5.48 C16.8,4.7 16.48,4.02 15.34,4.02 C14.2,4.02 13.88,4.7 13.88,5.48 L13.88,13.54 Z M13.82,1.52 C13.82,2.36 14.5,3.04 15.34,3.04 C16.18,3.04 16.86,2.36 16.86,1.52 C16.86,0.68 16.18,0 15.34,0 C14.5,0 13.82,0.68 13.82,1.52 L13.82,1.52 Z M20.04,12.4 C20.04,14.12 20.92,15 23.04,15 C24.44,15 25.16,14.54 25.16,13.7 C25.16,13.08 24.78,12.72 24.14,12.72 L23.72,12.72 C23.2,12.72 22.96,12.48 22.96,12.04 L22.96,6.2 L23.84,6.2 C24.7,6.2 25.16,5.94 25.16,5.24 C25.16,4.54 24.7,4.28 23.84,4.28 L22.96,4.28 L22.96,2.5 C22.96,1.54 22.38,1.04 21.5,1.04 C20.62,1.04 20.04,1.54 20.04,2.5 L20.04,4.28 L19.54,4.28 C18.72,4.28 18.38,4.6 18.38,5.24 C18.38,5.88 18.72,6.2 19.54,6.2 L20.04,6.2 L20.04,12.4 Z M26.12,9.72 C26.12,12.78 27.82,15 31.42,15 C34.42,15 35.86,13.24 35.86,11.96 C35.86,11.38 35.38,10.84 34.64,10.84 C33.1,10.84 33.54,12.72 31.5,12.72 C29.9,12.72 29.04,11.54 29.04,9.72 C29.04,7.08 30.38,6.3 31.52,6.3 C33.62,6.3 33.12,8.02 34.5,8.02 C35.24,8.02 35.86,7.6 35.86,6.76 C35.86,5.4 34.04,4.02 31.6,4.02 C28.02,4.02 26.12,6.36 26.12,9.72 L26.12,9.72 Z M37.42,13.54 C37.42,14.32 37.74,15 38.88,15 C40.02,15 40.34,14.32 40.34,13.54 L40.34,8.72 C40.34,7.26 41.54,6.42 42.56,6.42 C43.82,6.42 44.4,7.26 44.4,8.44 L44.4,13.54 C44.4,14.32 44.72,15 45.86,15 C47,15 47.32,14.32 47.32,13.54 L47.32,7.86 C47.32,4.9 45.4,4.02 43.64,4.02 C41.98,4.02 40.96,4.8 40.38,5.56 L40.34,5.56 L40.34,1.54 C40.34,0.58 39.76,0.08 38.88,0.08 C38,0.08 37.42,0.58 37.42,1.54 L37.42,13.54 Z M59.34,7.02 C59.34,4.92 57.4,4.02 54.6,4.02 C51.6,4.02 49.96,5.5 49.96,6.66 C49.96,7.26 50.46,7.78 51.2,7.78 C52.36,7.78 52.42,6.18 54.58,6.18 C55.56,6.18 56.42,6.54 56.42,7.38 C56.42,8.22 55.86,8.38 55.16,8.46 L53.38,8.66 C51.14,8.92 49.3,9.6 49.3,12.02 C49.3,13.86 50.94,15 52.6,15 C54.14,15 55.46,14.56 56.6,13.3 C56.64,14.2 57.06,15 58.32,15 C59.02,15 59.64,14.54 59.64,13.88 C59.64,13.42 59.34,13.14 59.34,11.92 L59.34,7.02 Z M56.42,10.96 C56.42,12.04 55.44,13.08 53.84,13.08 C52.84,13.08 52.22,12.54 52.22,11.88 C52.22,11 52.88,10.62 54.1,10.44 L55.16,10.28 C55.5,10.22 56.1,10.12 56.42,9.82 L56.42,10.96 Z M61.86,13.62 C61.86,14.52 62.28,15 63.18,15 C64.04,15 64.5,14.52 64.5,13.62 L64.5,13.16 L64.54,13.16 C65.02,14.4 66.2,15 67.62,15 C70.06,15 72.2,13.22 72.2,9.44 C72.2,6.64 70.78,4.02 67.7,4.02 C66.4,4.02 65.4,4.56 64.82,5.5 L64.78,5.5 L64.78,1.54 C64.78,0.58 64.2,0.08 63.32,0.08 C62.44,0.08 61.86,0.58 61.86,1.54 L61.86,13.62 Z M69.28,9.54 C69.28,11.26 68.52,12.68 66.96,12.72 C65.26,12.72 64.62,11.2 64.62,9.54 C64.62,8.04 65.18,6.28 66.96,6.3 C68.82,6.3 69.28,8.18 69.28,9.54 L69.28,9.54 Z M74.24,13.54 C74.24,14.5 74.82,15 75.7,15 C76.58,15 77.16,14.5 77.16,13.54 L77.16,1.54 C77.16,0.58 76.58,0.08 75.7,0.08 C74.82,0.08 74.24,0.58 74.24,1.54 L74.24,13.54 Z M88.72,10.06 C89.7,10.06 90,9.8 90,8.8 C90,6.4 88.08,4.02 84.72,4.02 C81.26,4.02 79.2,6.3 79.2,9.7 C79.2,12.24 80.74,15 84.82,15 C86.58,15 89.4,14.18 89.4,12.42 C89.4,11.88 88.9,11.28 88.2,11.28 C87.02,11.28 87.02,12.72 84.82,12.72 C83.12,12.72 82.12,11.6 82.12,10.06 L88.72,10.06 Z M82.12,8.38 C82.44,6.96 83.32,6.06 84.78,6.06 C86.08,6.06 87.08,7.04 87.24,8.38 L82.12,8.38 Z"
                                    sketch:type="MSShapeGroup"></path>
                            </g>
                        </g>
                    </svg>
                </a>
                <div id="apps-switch">
                    <span href="#" class="button">
                        <div class="icon">
                            <i class="material-icons">apps</i>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="primary-nav">
            <div class="slide one navigation active">
                <div class="nav-top">
                    <div class="nav-list">
                        <a href="/" class="nav-item nav-home active">
                            <div class="icon">
                                <i class="material-icons">home</i>
                            </div>
                            <div class="text">
                                Home
                            </div>
                        </a>
                        <a href="/trending" class="nav-item nav-trending">
                            <div class="icon">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="text">
                                Trending
                            </div>
                        </a>
                        <a href="/your-projects" class="nav-item nav-projects">
                            <div class="icon">
                                <i class="material-icons">today</i>
                            </div>
                            <div class="text">
                                Projects
                            </div>
                        </a>

                        <a href="/your-pokis" class="nav-item">
                            <div class="icon">
                                <i class="material-icons">catching_pokemon</i>

                            </div>
                            <div class="text">
                                Your pokis
                            </div>
                        </a>

                        <a href="/demo-blog" class="nav-item">
                            <div class="icon">
                                <i class="material-icons">book</i>

                            </div>
                            <div class="text">
                                Demo blog
                            </div>
                        </a>

                        <a href="/bookmarks" class="nav-item">
                            <div class="icon">
                                <i class="material-icons">bookmark</i>
                            </div>
                            <div class="text">
                                Bookmarks
                            </div>
                        </a>

                    </div>
                </div>
                <div class="nav-bottom">
                    <div class="nav-list">
                        <a href="/notifications" class="nav-item">
                            <div class="icon">
                                <i class="material-icons">notifications</i>
                            </div>
                            <div class="text">
                                Notifications
                            </div>
                        </a>
                        <a href="/messages" class="nav-item">
                            <div class="icon">
                                <i class="material-icons">question_answer</i>
                            </div>
                            <div class="text">
                                Messages
                            </div>
                        </a>

                        <a href="/settings" class="nav-item">
                            <div class="icon">
                                <i class="material-icons">settings</i>
                            </div>
                            <div class="text">
                                Settings
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="slide two apps inactive">
            </div>
        </div>
        <a href="/profile">
            <div class="profile">
                <div class="avatar">
                    <img src="https://38.media.tumblr.com/avatar_19873f82fcd6_64.png" alt="You" />
                </div>
                <div class="details">
                    <div class="name">
                        <%= name %>
                    </div>
                    <div class="company">
                        <%= tag %>
                    </div>
                    <button id="sign-out">Sign Out</button>
                </div>
            </div>
        </a>
    </div>
    <div class="top-bar" id="move_when_expanded_top_bar" style="margin-left:1%;position:absolute;width:93%;z-index:2;height:10%">
        <div class="left">
            <div class="page-title">
                <%= page_title %>
            </div>
        </div>
        <div class="top-bar-center">
            <div class="search-bar">
                <div class="search">
                    <span><i class="material-icons supervisor-icon">supervisor_account</i></span>
                    <input type="text" placeholder="What's on your mind?" name="search_text" onkeyup="search()">
                    
                    <button style="cursor:pointer; background-color:white; border:none"><span><i
                        class="material-icons search-icon">search</i></span></button>
                    <select name="search_select" >
                    <option value="blog" selected>Blogs</option>
                    <option value="user">User</option>
                 </select>
                 <div id="search"></div>
                    
                </div>
            </div>
            <!-- <select name="search_select">
                <option value="blog" selected>Blogs</option>
                <option value="user">User</option>
            </select> -->
        </div>
        <div class="right">
            <div class="apps" style="display:flex; align-items:center;">
                <a href="/create-blog" class="nav-item" title="Create a new blog">
                    <span class="material-icons">
                        create
                    </span>
                </a>
            </div>
        </div>
    </div>




    <div class="content" id="move_when_expanded_content" style="">