<div class='homepage-cslider1 autoplay'>
    
    <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='homepage-cslider-anchor slide-color-changer' >
    <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='homepage-cslider-anchor slide-color-changer' >
    <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='homepage-cslider-anchor slide-color-changer' >
    <ul class="radio-image-changer">
        <div style="width: auto; visibility: hidden; font-size: 0px; line-height: 0;">
            <img src="http://christandcascadia.com/wp-content/uploads/2014/02/trending-now5_1.jpg" style="width: 100%;">
        </div>
        <li class='number0-img-slideshow img-full'>
             <a href=/trending><img class="slideshow-image-main" src='http://christandcascadia.com/wp-content/uploads/2014/02/trending-now5_1.jpg' alt='Buns' title='Buns' /> </a> 
        </li>
        <li class='number1-img-slideshow img-full'>
             <a href="#"><img class="slideshow-image-main" src='http://ferhat.se/wp-content/uploads/2013/05/onlyforyou920.png' alt='Croissant' title='Croissant' /> </a> 
        </li>
        <li class='number2-img-slideshow img-full'>
             <a href=/create-blog><img class="slideshow-image-main" src='http://i.ytimg.com/vi/0BiUd1A8e_4/maxresdefault.jpg' alt='Lemon pie' title='Lemon pie' /> </a> 
        </li>    
    </ul>    
    <div class='cs_bullets'>
        <label class='number0-img-slideshow' for='cs_slide1_0'>
            <span class='slideshow-bullets-for-changing-images'></span>
        </label>
        <label class='number1-img-slideshow' for='cs_slide1_1'>
            <span class='slideshow-bullets-for-changing-images'></span>
        </label>
        <label class='number2-img-slideshow' for='cs_slide1_2'>
            <span class='slideshow-bullets-for-changing-images'></span>
        </label>
    </div>
    
</div>